
<h1>Documentos</h1>

<%= render 'search_form', q: @q %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Série</th>
      <th>Número da Nota Fiscal</th>
      <th>Data de Emissão</th>
      <th>Emitente</th>
      <th>Destinatário</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @xml_documents.each do |xml_document| %>
      <tr>
        <td><%= xml_document.id %></td>
        <td><%= xml_document.serie %></td>
        <td><%= xml_document.nNF %></td>
        <td><%= xml_document.dhEmi %></td>
        <td><%= JSON.parse(xml_document.emit)["xNome"] %></td>
        <td><%= JSON.parse(xml_document.dest)["xNome"] %></td>
        <td>
          <%= link_to 'Mostrar', document_report_path(xml_document.document_id, xml_document.id), class: 'btn btn-primary' %>
          <%= link_to 'Exportar', export_to_csv_report_path(xml_document.id), class: 'btn btn-primary' %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= paginate @xml_documents %>
</div>

