<h1>Relatório do Documento Fiscal</h1>
<%= link_to 'Exportar', export_to_csv_report_path(@xml_document.id), class: 'btn btn-primary' %>


<h2>Dados do Documento Fiscal</h2>
<p>
  <strong>Número de Série:</strong>
  <%= @xml_document.serie %><br>
  <strong>Número da Nota Fiscal:</strong>
  <%= @xml_document.nNF %><br>
  <strong>Data e Hora de Emissão:</strong>
  <%= @xml_document.dhEmi %><br>
</p>

<p>
  <% emit = JSON.parse(@xml_document.emit) %>
  <strong>Eminente:</strong> <%= emit["xNome"] %><br>
  <strong>CNPJ:</strong> <%= emit["CNPJ"] %><br>
  <strong>Telefone:</strong> <%= emit["fone"] %><br>
  <strong>Endereço:</strong> <%= emit["enderEmit"]["xLgr"]%>, <%= emit["enderEmit"]["nro"] %>, <%= emit["enderEmit"]["xBairro"] %><br>
  <strong>Cidade:</strong> <%= emit["enderEmit"]["xMun"] %><br>
  <strong>Estado:</strong> <%= emit["enderEmit"]["UF"] %><br>
  <strong>CEP:</strong> <%= emit["enderEmit"]["CEP"] %><br>
  <strong>País:</strong> <%= emit["enderEmit"]["xPais"] %><br>
  <strong>Inscrição Estadual</strong> <%= emit["IE"] %><br>
</p>

<p>
  <% dest = JSON.parse(@xml_document.dest) %>
  <strong>Destinatário:</strong> <%= dest["xNome"] %><br>
  <strong>CNPJ:</strong> <%= dest["CNPJ"] %><br>
  <strong>Telefone:</strong> <%= emit["fone"] %><br>
  <strong>Endereço:</strong> <%= dest["enderDest"]["xLgr"]%>, <%= dest["enderDest"]["xBairro"] %><br>
  <strong>Cidade:</strong> <%= dest["enderDest"]["xMun"] %><br>
  <strong>Estado:</strong> <%= dest["enderDest"]["UF"] %><br>
  <strong>CEP:</strong> <%= dest["enderDest"]["CEP"] %><br>
  <strong>País:</strong> <%= dest["enderDest"]["xPais"] %><br>
  <strong>Inscrição Estadual</strong> <%= dest["indIEDest"] %><br>
</p>

<h2>Produtos Listados</h2>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>NCM</th>
      <th>CFOP</th>
      <th>Unidade</th>
      <th>Quantidade</th>
      <th>Valor Unitário</th>
      <th>ICMS</th>
      <th>IPI</th>
    </tr>
  </thead>
  <tbody>
    <% products = JSON.parse(@xml_document.products) %>
    <% products.each do |product| %>
      <tr>
        <td><%= product['xProd'] %></td>
        <td><%= product['NCM'] %></td>
        <td><%= product['CFOP'] %></td>
        <td><%= product['uCom'] %></td>
        <td><%= product['qCom'] %></td>
        <td><%= product['vUnCom'] %></td>
        <td><%= product['imposto']['ICMS'] %></td>
        <td><%= product['imposto']['IPI'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Total Valor dos Produtos:</strong>
  <%= products.sum { |p| (p['qCom'].to_f * p['vUnCom'].to_f).round(2) } %><br>
  <strong>Total ICMS:</strong>
  <%= products.sum { |p| (p['imposto']['ICMS'].to_f rescue 0.0) }.round(2) %><br>
  <strong>Total IPI:</strong>
  <%= products.sum { |p| (p['imposto']['IPI'].to_f rescue 0.0) }.round(2) %><br>
</p>

