<!DOCTYPE html>
<html>
  <head>
    <title>Upload de Xmls</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Início', root_path, class: 'btn btn-primary' %>
        <%= link_to 'Criar Documento', new_document_path, class: 'btn btn-primary' %>

        <% if user_signed_in? %>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; <%= Time.current.year %> Upload de Xmls</p>
    </footer>
  </body>
</html>
